body {
  max-width: 30em;
  margin: 0 auto;
}
#song-sel {
  margin: 1em 0;
}
progress {
  width: 100%;
}
#play-pause {
  float: right;
  margin-top: -3em;
}
#play-pause a {
  font-size: 24px;
}
#play-pause a:hover, #play-pause a:focus {
  text-decoration: none;
  outline: 0;
}